<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Form</title>
    <head th:include="user/common/head::head"></head>
</head>
<body>
<header th:replace="user/common/navbar::navbar"> </header>

<div class="container mb-3">
    <div class="card mx-auto" style="width: 30rem; ">
        <div class="card-header text-center bg-info ">
            <h3>Change Password!</h3>
        </div>
        <div class="card-body">
            <form th:action="@{/user/sendForgetOtp}" method="POST" class="text-center" name="passwordForm" onsubmit="return confirmPassword()">
                <label class="col-10 text-left mb-2 p-0 text-info">Enter Your OTP:</label>
                <input name="otp" type="text" required="required" placeholder="Enter Given OTP" class="form-control mb-4 col-10 mx-auto" >
                <label class="col-10 text-left mb-2 p-0 text-info">Enter Password:</label>
                <input type="password" name="password" placeholder="Enter Password"
                       class="form-control col-10 mx-auto" id="password" required="required">
                <div class="mx-auto mb-2 col-10 p-0 mb-4">
                    <div class="text-left">
                        <input type="checkbox" onclick="showPassword()">
                        <span>Show Password</span>
                    </div>
                </div>
                <label class="col-10 text-left mb-2 p-0 text-info">Confirm Password:</label>
                <input type="password" name="cpassword" placeholder="Confirm Password"
                       class="form-control col-10 mx-auto" id="cpassword" required="required">
                <div class="col-10 mx-auto row p-0 text-left">
                    <small class="text-danger" id="passworderror"></small>
                </div>
                <button type="submit" class="btn btn-primary">Proceed</button>
            </form>
        </div>
    </div>
</div>
<script th:src="@{../js/main.js}"></script>
<footer th:include="user/common/footer"></footer>
<div th:include="user/common/js-files"></div>

</body>
</html>