<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forget Password Form</title>
    <head th:include="user/common/head::head"></head>
</head>
<body>
<header th:replace="user/common/navbar::navbar"> </header>

<div class="container mb-3">
    <div class="card mx-auto" style="width: 30rem; ">
        <div class="card-header text-center bg-info ">
            <h3>Give Your Registered email</h3>
        </div>
        <div class="card-body">
            <form th:action="@{/user/forgetPassword}" method="POST" class="text-center">
                <label class="col-10 text-left mb-2 p-0 text-info">Enter Your Email:</label>
                <input name="email" type="email" required="required" placeholder="Enter Email" class="form-control mb-4 col-10 mx-auto" >
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>
<footer th:include="user/common/footer"></footer>
<div th:include="user/common/js-files"></div>
</body>
</html>