<!DOCTYPE html>
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymleaf.org ">
<head th:include="common/admin_head"></head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

    <!-- Preloader -->
    <!--    <div class="preloader flex-column justify-content-center align-items-center">-->
    <!--        <img class="animation__shake" src="/image/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">-->
    <!--    </div>-->

    <!-- Navbar -->
    <header th:include="common/admin_nav"></header>
    <!-- Navbar -->
    <div th:if="*{message != null}" th:fragment="alert (type, message)"
         class="alert alert-success alert-dismissible fade show text-center" role="alert"
         th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span th:text="${message}">Test</span>
    </div>


    <!--    Main Sidebar Container-->
    <header th:include="common/admin_sidebar"></header>
    <!--    Main Sidebar Container-->



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-box clearfix">
                                <div class="table-responsive">
                                    <table class="table user-list">
                                        <tr>


                                            <div class="flex-child addPlayer" align="center">
                                                <h3><a th:href="@{'/add_player'}" class="btn btn-info">Add New Player</a></h3>
                                            </div>
                                            <form th:action="@{/players/search}" >
                                                <div class="col-lg-3" align="right">
                                                    <input type="text" name="keyword" class="form-control" placeholder="search here...">
                                                </div>
                                                <div class="col-lg-3" align="right">
                                                    <input type="submit" class="btn-success form-control">
                                                </div>
                                            </form>
                                            <br>
                                            <div><a href="/getallplayer" class="btn btn-info" align="right">View All player</a></div>
                                        </tr>
                                        <thead>
                                        <tr>

                                            <th><span>Players</span></th>
                                            <th class="text-center"><span>Player Name</span></th>
                                            <th class="text-center"><span>Country</span></th>
                                            <th class="text-center"><span>Position</span></th>
                                            <th class="text-center"><span>Value</span></th>
                                            <th class="text-center"><span>Last Round Point</span></th>
                                            <th class="text-center"><span>Status</span></th>
                                            <th class="text-center"><span>Edit Player</span></th>
                                            <th class="text-center"><span>Delete Player</span></th>
                                            <th class="text-center"><span>Update Point</span></th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">
                                        <tr th:each="player : ${players}">

                                            <td>

                                                <img th:src="${player.picture}" height="50" width="40"></td>
                                            <td>
                                                <h6 th:text="${player.nickname}"></h6></td>
                                            <td><h6 th:text="${player.country}"></h6></td>
                                            <td><h6 th:text="${player.positionType}"></h6></td>
                                            <td><h6 th:text="${player.value}"></h6></td>
                                            <td><h6 th:text="${player.playerPoints}"></h6></td>
                                            <td><h6 th:text="${player.status}"></h6></td>
                                            <td><a th:href="@{'/getallplayer/edit/' + ${player.id}}" class="btn btn-success">Edit</a>
                                            </td>
                                            <td><a th:href="@{'/getallplayer/delete/' + ${player.id}}" class="btn btn-danger"
                                                   th:data-confirm-delete="|Are you sure you want to delete this Player ${player.nickname}?|"
                                                   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Delete</a>
                                            </td>
                                            <td><a th:href="@{'/points/updatePoint/' + ${player.id}}" class="btn btn-info">Update</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>




        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:include="common/admin_footer"></footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->



<!--BootStrap JS-->
<div th:include="common/admin_js"></div>
<div th:include="user/common/js-files"></div>
<!--search view-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- AdminLTE App -->
<script src="/js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/js/pages/dashboard.js"></script>
</body>
</html>
